<template>
  <header>
    <div class="content">
      <img src="static/img/logo-almundo.svg" title="Almundo.com vacaciones en serio" alt="Almundo.com vacaciones en serio">
    </div>
  </header>
</template>

<script>


export default {
  name: 'AlmundoHeader',
  data() {
    return {

    }
  },
  created: function () {

  },
  methods: {

  }
}
</script>
<style lang="sass" scoped>
header
  margin: 0 auto 64px auto
  padding: 0
  height: 80px
  background: rgba(0,44,119,1)
  & .content
    padding: 14px 8px 0 8px
</style>