<template>
  <section class="col-xs-12 col-md-9">
    <article v-for="(hotel, index) in hotels">
      <transition class="row" name="fade">
        <div class="hotel" v-show="show(index)" :key="hotel.id">
          <div class="col-xs-12 col-md-3 hotel-img">
            <img :alt="'Imagen de '+ hotel.name" :src="'static/img/hotels/'+hotel.image">
          </div>
          <div class="col-xs-12 col-md-6 hotel-desc">
              <a href="">{{hotel.name}}</a>
              <div class="stars">
                <span v-for="star in hotel.stars" class="star">
                  <i class="icon-star"></i>
                </span>
              </div>
              <div class="amenities">
                <ul class="amenities-list" v-if="hotel.amenities && hotel.amenities.length">
                  <li v-for="amenity in hotel.amenities">
                    <!--
                      This should be more semantic tag (more seo friendly) but invoke imgs that has already loaded with svg icons...
                      <img :title="amenity" class="amenity-icon" :src="API_URL+'/assets/icons/amenities/'+amenity+'.svg'">
                    -->
                    <i :title="amenity" :class="'amenity-icon icon-'+amenity"></i>
                  </li>
                </ul>
              </div>
          </div>
          <div class="col-xs-12 col-md-3 hotel-price">
            <p>
              <span>Precio por</span>
              <br>
              <span>noche por habitacion</span>
            </p>
            <p class="hotel-price-desc">
              <span>ARS </span><strong class="hotel-price-number">{{hotel.price|formatNumber}}</strong>
            </p>
            <button class="btn btn-cta">Ver hotel</button>
          </div>
        </div>
      </transition>
    </article>
  </section>
</template>

<script>
import axios from 'axios';
import 'bootstrap/dist/css/bootstrap.min.css';
import { EventBus } from '../event-bus.js';



export default {
  name: 'Hotel',
  data() {
    return {
      API_URL: process.env.API_URL,
      hotels: [],
      starsFilter: [],
      nameFilter: null,
      updating: false,
      errors: []
    }
  },
  created: function () {
      axios.get(this.API_URL+'/hotels').then(response => {
        this.hotels = response.data
        EventBus.$emit('hotelsDidFinishLoad', this.hotels);
      }).catch(e => {
        this.errors.push(e)
      });
      EventBus.$on('userWantToFilterHotelsByStars', stars => {
        this.starsFilter = stars;
      });
      EventBus.$on('userWantToFilterHotelsByName', name => {
        this.nameFilter = name;
      });
  },
  beforeDestroy() {
    EventBus.$off('hotelsDidFinishLoad');
  },
  methods: {
    show: function(index){
      if(this.nameFilter){
        return (this.hotels[index].name.toLocaleLowerCase().includes(this.nameFilter.toLocaleLowerCase()));
      }else if (this.starsFilter && this.starsFilter.length){
        return (-1 !== this.starsFilter.indexOf(this.hotels[index].stars));
      }else{
        return true;
      }
    }
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->

<style lang="sass" scoped>

@import "../assets/css/al-icons.css";

.fade-enter-active, .fade-leave-active
  transition: opacity .5s

.fade-enter, .fade-leave-to
  opacity: 0

.hotel
  background-color: #fff
  margin-bottom: 16px
  overflow: hidden
  border-radius: 2px
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12)
  @media (min-width: 800px)
    height: 174px


.hotel-img
  padding: 0

.hotel-img img
  width: 100%
  margin: 0
  padding: 5px
  @media (min-width: 800px)
    height: 174px

.hotel-price-desc
  color: #df6800

.hotel-price
  text-align: center

.hotel-price, .hotel-desc
  padding: 8px 16px
  height: 152px
  margin-top: 13px

.hotel-price-number
  font-size: 20px

.hotel-desc
  text-align: left
  border-bottom: 1px dotted #CCC
  & a
    color: #3989C2
    font-weight: bold

  @media (min-width: 800px)
    border-bottom: none
    border-right: 1px dotted #CCC

.stars
  margin: 5px 0

.icon-star
  color: #FDBA12
  margin: 0 3px 0 0

.btn-cta
  background-color: #002c77
  color: #FFF
  font-weight: bold

.amenity-icon
  width: 16px
  height: 16px
  margin-right: 8px


.amenities,.amenities li
  margin: 0

h1, h2
  font-weight: normal

ul
  list-style-type: none
  padding: 0

li
  display: inline-block
  margin: 0 10px

a
  color: #42b983

</style>