<template>
  <section class="col-xs-12 col-md-3">
    <div class="filter-box">
      <h4 class="filters-title filter-title-wrap">
        <strong @click="toggleHotelFilters">Filtros</strong>
        <i :class="[isHotelFiltersActive ? activeClass : hideClass]" @click="toggleHotelFilters"></i>
      </h4>
    </div>
    <article class="filter-container">
      <!-- Name filter !-->
      <div class="filter-box">
        <h4 class="filter-heading">
          <i class="icon-search"></i>
          <strong @click="toggleHotelFilter">Nombre de hotel</strong>
          <i :class="[isHotelNameFilterActive ? activeClass : hideClass]" @click="toggleHotelFilter"></i>
        </h4>
        <div class="hotel-name-filter">
          <input class="filter-input" v-model="nameHotelFilter" type="text" name="" placeholder="Ingrese el nombre del hotel">
          <button class="btn btn-search" @click="filterByName">Aceptar</button>
        </div>
      </div>
      <!-- Stars filter !-->
      <div class="filter-box">
        <h4 class="filter-heading">
          <i class="icon-star"></i>
          <strong @click="toggleHotelStarFilter">Estrellas</strong>
          <i :class="[isStarFilterActive ? activeClass : hideClass]" @click="toggleHotelStarFilter"></i>
        </h4>
        <div class="hotel-star-filter">
          <ul>
            <li>
              <input id="any-star-filter" type="checkbox" :checked="anyStarFilterChecked" @change="toggleStarFilter" value="any" name="stars-hotels-filter">
              <span class="all-stars">Todas las estrellas</span>
            </li>
            <li v-for="star in stars">
              <input type="checkbox" name="stars-hotels-filter" :value="star" v-model="starsChecked" @change="filterByStarClicked">
              <span v-for="s in star" class="star">
                <i class="icon-star"></i>
              </span>
            </li>
          </ul>
        </div>
      </div>
    </article>
  </section>
</template>

<script>
import { EventBus } from '../event-bus.js';

export default {
  name: 'HotelFilter',
  data() {
    return {
      API_URL: process.env.API_URL,
      stars: [],
      starsChecked: [],
      anyStarFilterChecked: true,
      nameHotelFilter: '',
      activeClass: 'icon-caret-up right',
      hideClass: 'icon-caret-down right',
      isHotelNameFilterActive: true,
      isStarFilterActive: true,
      isHotelFiltersActive: true
    }
  },
  created: function () {
    EventBus.$on('hotelsDidFinishLoad', hotels => {
      let stars = Object.keys(hotels).map(function(key){
        return (hotels[key].stars);
      });
      stars = Array.from(new Set(stars.sort().reverse()));
      this.stars = stars;
    });
  },
  methods: {
    checkStarFilters: function(){
      if (this.starsChecked && this.starsChecked.length >= 1)
        this.anyStarFilterChecked = false;
    },
    filterByStarClicked: function(){
      this.checkStarFilters();
      EventBus.$emit('userWantToFilterHotelsByStars', this.starsChecked);
    },
    filterByName: function(){
      EventBus.$emit('userWantToFilterHotelsByName', this.nameHotelFilter);
    },
    toggleStarFilter: function(){
      this.checkStarFilters();
      if (!this.anyStarFilterChecked) {
        this.anyStarFilterChecked = true;
        this.starsChecked = [];
        EventBus.$emit('userWantToFilterHotelsByStars', this.starsChecked);
      }
    },
    toggleHotelFilter: function(){
      $('.hotel-name-filter').slideToggle();
      this.isHotelNameFilterActive = !this.isHotelNameFilterActive;
    },
    toggleHotelStarFilter: function(){
      $('.hotel-star-filter').slideToggle();
      this.isStarFilterActive = !this.isStarFilterActive;
    },
    toggleHotelFilters: function(){
      $(".filter-container").slideToggle();
      this.isHotelFiltersActive = !this.isHotelFiltersActive;
    }
  },
}
</script>
<style lang="sass" scoped>
@import "../assets/css/al-icons.css";

ul
  list-style-type: none
  padding: 0

li
  margin: 10px 0


.all-stars
  font-weight: bold
  color: #464646

.filter-title-wrap
  padding: 0 4px

.filter-container .filter-heading
  & .icon-search,
  & .icon-star,
  & .icon-caret-down,
  & .icon-caret-up
      cursor: pointer
      color: #3989C2
      background-size: contain
      height: 18px
      width: 18px
      vertical-align: bottom
  & .icon-caret-down,
  & .icon-caret-up
    float: right
    vertical-align: bottom
  & strong
    cursor: pointer

.filters-title
  & .icon-caret-down,
  & .icon-caret-up
    display: block
    float: right
    vertical-align: bottom
    @media (min-width: 800px)
      display: none

.star
  & .icon-star
    color: #FDBA12
    padding-right: 3px

.filter-box
  box-sizing: border-box
  line-height: 2rem
  font-size: 0.875rem
  font-weight: normal
  border-bottom: 4px solid #F4F4F4
  padding: 8px 16px
  background-color: #fff
  text-align: left
  & .filter-heading
    color: #3989C2
    text-align: left
  & .filter-input
    border: 1px solid;
    border-color: #CCC
    border-top-color: #777
    background: #fff;
    height: 32px;
    padding: 4px 8px;
    vertical-align: top;
    color: #555
    line-height: 1rem
    font-weight: normal
    font-size: 14px
    max-width: 143px
    margin-right: 5px
  & h4
    color: #3989C2
    font-size: 14px
    text-align: center
    @media (min-width: 800px)
      color:#464646
      text-align: left


.btn-search
  background-color: #002c77
  border-bottom: 1x solid #110A40
  color: #FFF
  border-radius: 2px
  font-weight: bold

.hotel-name-filter,
.hotel-star-filter
  color: #7a7a7a
  clear: both
  position: relative
  font-size: 14px
  overflow: hidden
</style>