<template>
  <div id="app" class="container">
    <div class="row">
      <AlmundoHeader />
      <HotelFilter/>
      <Hotel/>
    </div>
  </div>
</template>

<script>
import AlmundoHeader from './components/AlmundoHeader'
import Hotel from './components/Hotel'
import HotelFilter from './components/HotelFilter'


export default {
  name: 'app',
  components: {
    AlmundoHeader,
    Hotel,
    HotelFilter,
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  background-color: #f4f4f4;
}
</style>
